# Ignore build output folders
bin/
obj/

# Ignore user-specific settings
*.user
*.suo

# Ignore build results
*.exe
*.dll
*.pdb

# Ignore publish output
publish/

# Visual Studio / JetBrains Rider
.vscode/
*.csproj.user
*.csproj.Debug.cache
*.ncrunch*
_ReSharper*/
.idea/
